In [60]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

%matplotlib inline

In [61]:
telecom = pd.read_csv('train.csv')
telecom.shape

(400000, 19)

In [62]:
telecom.head(3)

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,dcf68cc2fb515ccad7d8b9b3bd80ee2a4b270063,SAINT-LOUIS,K > 24 month,17000.0,32.0,18000.0,6000.0,34.0,NaN,97.0,355.0,6.0,NaN,NaN,NO,62,All-net 500F=2000F;5d,35.0,0
1,71c44b5ba328db5c4192a80f7cf8f244d9350ed0,NaN,K > 24 month,4300.0,29.0,4427.0,1476.0,37.0,1764.0,8.0,3.0,0.0,NaN,2.0,NO,40,"Data: 100 F=40MB,24H",22.0,0
2,ce46411b1526c94f20a383b8cb188f8d27f82a0a,TAMBACOUNDA,K > 24 month,1500.0,3.0,1500.0,500.0,3.0,NaN,30.0,30.0,NaN,NaN,NaN,NO,32,All-net 500F=2000F;5d,3.0,0

In [63]:
print(telecom.columns)
print(telecom.describe())
print(telecom.dtypes)
print(telecom.info())

Index(['user_id', 'REGION', 'TENURE', 'MONTANT', 'FREQUENCE_RECH', 'REVENUE',
       'ARPU_SEGMENT', 'FREQUENCE', 'DATA_VOLUME', 'ON_NET', 'ORANGE', 'TIGO',
       'ZONE1', 'ZONE2', 'MRG', 'REGULARITY', 'TOP_PACK', 'FREQ_TOP_PACK',
       'CHURN'],
      dtype='object')
             MONTANT  FREQUENCE_RECH        REVENUE   ARPU_SEGMENT  \
count  259723.000000   259723.000000  265337.000000  265337.000000
mean     5522.971346       11.503733    5505.487757    1835.167658
std      7099.640630       13.275514    7175.802367    2391.929290
min        20.000000        1.000000       1.000000       0.000000
25%      1000.000000        2.000000    1000.000000     333.000000
50%      3000.000000        6.000000    3000.000000    1000.000000
75%      7300.000000       15.000000    7340.000000    2447.000000
max    226550.000000      133.000000  233413.000000   77804.000000

           FREQUENCE    DATA_VOLUME         ON_NET         ORANGE  \
count  265337.000000  203146.000000  254181.000000  233683.000000
mean       13.951835    3369.763441     275.917586      95.532927
std        14.679943   12281.867504     873.593034     204.733272
min         1.000000       0.000000       0.000000       0.000000
25%         3.000000       0.000000       5.000000       7.000000
50%         9.000000     267.000000      27.000000      29.000000
75%        19.000000    2925.000000     155.000000      99.000000
max        91.000000  934576.000000   45011.000000    6788.000000

                TIGO         ZONE1         ZONE2     REGULARITY  \
count  160614.000000  31690.000000  25513.000000  400000.000000
mean       23.134608      7.874282      7.187003      28.046502
std        63.061871     35.642843     26.964028      22.282773
min         0.000000      0.000000      0.000000       1.000000
25%         2.000000      0.000000      0.000000       6.000000
50%         6.000000      1.000000      2.000000      24.000000
75%        20.000000      3.000000      5.000000      51.000000
max      2758.000000   1657.000000   1011.000000      62.000000

       FREQ_TOP_PACK         CHURN
count  232671.000000  400000.00000
mean        9.254209       0.18711
std        12.305563       0.39000
min         1.000000       0.00000
25%         2.000000       0.00000
50%         5.000000       0.00000
75%        12.000000       0.00000
max       629.000000       1.00000
user_id            object
REGION             object
TENURE             object
MONTANT           float64
FREQUENCE_RECH    float64
REVENUE           float64
ARPU_SEGMENT      float64
FREQUENCE         float64
DATA_VOLUME       float64
ON_NET            float64
ORANGE            float64
TIGO              float64
ZONE1             float64
ZONE2             float64
MRG                object
REGULARITY          int64
TOP_PACK           object
FREQ_TOP_PACK     float64
CHURN               int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         400000 non-null  object
 1   REGION          242480 non-null  object
 2   TENURE          400000 non-null  object
 3   MONTANT         259723 non-null  float64
 4   FREQUENCE_RECH  259723 non-null  float64
 5   REVENUE         265337 non-null  float64
 6   ARPU_SEGMENT    265337 non-null  float64
 7   FREQUENCE       265337 non-null  float64
 8   DATA_VOLUME     203146 non-null  float64
 9   ON_NET          254181 non-null  float64
 10  ORANGE          233683 non-null  float64
 11  TIGO            160614 non-null  float64
 12  ZONE1           31690 non-null   float64
 13  ZONE2           25513 non-null   float64
 14  MRG             400000 non-null  object
 15  REGULARITY      400000 non-null  int64
 16  TOP_PACK        232671 non-null  object
 17  FREQ_TOP_PACK   232671 non-null  float64
 18  CHURN           400000 non-null  int64
dtypes: float64(12), int64(2), object(5)
memory usage: 58.0+ MB
None

In [64]:
missing = telecom.isnull().sum()
print(missing)

user_id                0
REGION            157520
TENURE                 0
MONTANT           140277
FREQUENCE_RECH    140277
REVENUE           134663
ARPU_SEGMENT      134663
FREQUENCE         134663
DATA_VOLUME       196854
ON_NET            145819
ORANGE            166317
TIGO              239386
ZONE1             368310
ZONE2             374487
MRG                    0
REGULARITY             0
TOP_PACK          167329
FREQ_TOP_PACK     167329
CHURN                  0
dtype: int64

In [65]:
def clean_telecom(telecom):
    col = telecom.columns
    col = ['REGION', 'TENURE', 'MONTANT', 'FREQUENCE_RECH', 'REVENUE',
       'ARPU_SEGMENT', 'FREQUENCE', 'DATA_VOLUME', 'ON_NET', 'ORANGE', 'TIGO',
       'ZONE1', 'ZONE2', 'MRG', 'REGULARITY', 'TOP_PACK', 'FREQ_TOP_PACK',
       'CHURN']

In [72]:
percentage_missing =missing/400000

In [73]:
percentage_missing

user_id           0.000000
REGION            0.393800
TENURE            0.000000
MONTANT           0.350693
FREQUENCE_RECH    0.350693
REVENUE           0.336657
ARPU_SEGMENT      0.336657
FREQUENCE         0.336657
DATA_VOLUME       0.492135
ON_NET            0.364548
ORANGE            0.415793
TIGO              0.598465
ZONE1             0.920775
ZONE2             0.936218
MRG               0.000000
REGULARITY        0.000000
TOP_PACK          0.418322
FREQ_TOP_PACK     0.418322
CHURN             0.000000
dtype: float64